## Bài 5.1: Tạo CSDL SQLite, kết nối và in ra version SQLite

In [1]:
import sqlite3

db_path = "bai51.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("select sqlite_version();")
version = cur.fetchone()[0]
print("SQLite version:", version)

conn.close()

SQLite version: 3.45.1

## Bài 5.2: Kết nối SQLite trong bộ nhớ (in-memory)

In [2]:
import sqlite3

conn = sqlite3.connect(":memory:")
cur = conn.cursor()

cur.execute("select sqlite_version();")
print("SQLite version (memory):", cur.fetchone()[0])

conn.close()

SQLite version (memory): 3.45.1

## Bài 5.3: Tạo CSDL và tạo 1 bảng trong CSDL

In [3]:
import sqlite3

db_path = "bai53.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("""
create table if not exists students (
    id integer primary key autoincrement,
    name text not null,
    age integer,
    major text
);
""")

conn.commit()
print("Created database and table students.")

conn.close()

Created database and table students.

## Bài 5.4: Liệt kê các bảng của tệp CSDL SQLite đã cho

In [4]:
import sqlite3

db_path = "bai53.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("select name from sqlite_master where type='table' order by name;")
tables = cur.fetchall()

print("Tables:")
for t in tables:
    print("-", t[0])

conn.close()

Tables:
- sqlite_sequence
- students

## Bài 5.5: Tạo bảng, chèn bản ghi, select all và hiển thị

In [5]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("""
create table if not exists products (
    id integer primary key autoincrement,
    name text not null,
    price real not null,
    quantity integer not null
);
""")

products = [
    ("Pen", 1.5, 100),
    ("Notebook", 2.0, 60),
    ("Eraser", 0.5, 200),
]

cur.executemany("insert into products (name, price, quantity) values (?, ?, ?);", products)
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("All records in products:")
for r in rows:
    print(r)

conn.close()

All records in products:
(1, 'Pen', 1.6500000000000001, 100)
(3, 'Eraser', 0.55, 200)
(4, 'Pen', 1.6500000000000001, 100)
(5, 'Notebook', 2.2, 60)
(6, 'Eraser', 0.55, 200)
(7, 'Pen', 1.5, 100)
(8, 'Notebook', 2.0, 60)
(9, 'Eraser', 0.5, 200)

## Bài 5.6: Đếm số bản ghi của 1 bảng

In [6]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("""
create table if not exists products (
    id integer primary key autoincrement,
    name text not null,
    price real not null,
    quantity integer not null
);
""")

products = [
    ("Pen", 1.5, 100),
    ("Notebook", 2.0, 60),
    ("Eraser", 0.5, 200),
]

cur.executemany("insert into products (name, price, quantity) values (?, ?, ?);", products)
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("All records in products:")
for r in rows:
    print(r)

conn.close()

All records in products:
(1, 'Pen', 1.6500000000000001, 100)
(3, 'Eraser', 0.55, 200)
(4, 'Pen', 1.6500000000000001, 100)
(5, 'Notebook', 2.2, 60)
(6, 'Eraser', 0.55, 200)
(7, 'Pen', 1.5, 100)
(8, 'Notebook', 2.0, 60)
(9, 'Eraser', 0.5, 200)
(10, 'Pen', 1.5, 100)
(11, 'Notebook', 2.0, 60)
(12, 'Eraser', 0.5, 200)

## Bài 5.7: Cập nhật tất cả giá trị của 1 cột cụ thể trong bảng

In [7]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

cur.execute("update products set price = price * 1.10;")
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("After updating price:")
for r in rows:
    print(r)

conn.close()

After updating price:
(1, 'Pen', 1.8150000000000004, 100)
(3, 'Eraser', 0.6050000000000001, 200)
(4, 'Pen', 1.8150000000000004, 100)
(5, 'Notebook', 2.4200000000000004, 60)
(6, 'Eraser', 0.6050000000000001, 200)
(7, 'Pen', 1.6500000000000001, 100)
(8, 'Notebook', 2.2, 60)
(9, 'Eraser', 0.55, 200)
(10, 'Pen', 1.6500000000000001, 100)
(11, 'Notebook', 2.2, 60)
(12, 'Eraser', 0.55, 200)

## Bài 5.8: Xóa một hàng cụ thể khỏi bảng SQLite

In [8]:
import sqlite3

db_path = "bai55.db"

conn = sqlite3.connect(db_path)
cur = conn.cursor()

delete_id = 2
cur.execute("delete from products where id = ?;", (delete_id,))
conn.commit()

cur.execute("select id, name, price, quantity from products;")
rows = cur.fetchall()

print("After deleting id =", delete_id)
for r in rows:
    print(r)

conn.close()

After deleting id = 2
(1, 'Pen', 1.8150000000000004, 100)
(3, 'Eraser', 0.6050000000000001, 200)
(4, 'Pen', 1.8150000000000004, 100)
(5, 'Notebook', 2.4200000000000004, 60)
(6, 'Eraser', 0.6050000000000001, 200)
(7, 'Pen', 1.6500000000000001, 100)
(8, 'Notebook', 2.2, 60)
(9, 'Eraser', 0.55, 200)
(10, 'Pen', 1.6500000000000001, 100)
(11, 'Notebook', 2.2, 60)
(12, 'Eraser', 0.55, 200)

## 5.9- Tạo file region.csv và dùng pandas hiển thị toàn bộ dữ liệu

### 5.9.1 Tạo file region.csv

In [9]:
import pandas as pd

du_lieu = {
    "REGION_ID": [1, 2, 3, 4],
    "REGION_NAME": ["Europe", "Americas", "Asia", "Middle East and Africa"]
}

bang_region = pd.DataFrame(du_lieu)
bang_region.to_csv("region.csv", index=False)

print("Đã tạo file region.csv")

Đã tạo file region.csv

### 5.9.2 – Đọc và hiển thị dữ liệu

In [10]:

bang_region = pd.read_csv("region.csv")
print(bang_region)

   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

## 5.10 - Ứng dụng Quản lý sản phẩm – SQLite

### 5.10.1 Tạo CSDL và bảng

In [11]:
import sqlite3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute("""
create table if not exists product (
    id integer primary key,
    name text not null,
    price real not null,
    amount integer not null
);
""")

ket_noi.commit()
ket_noi.close()

print("Đã tạo CSDL product.db và bảng product")

Đã tạo CSDL product.db và bảng product

### 5.10.2 Thêm Sản phẩm

In [12]:
import sqlite3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

san_pham = [
    (1, "Bút bi", 5000, 100),
    (2, "Vở", 12000, 50),
    (3, "Thước", 8000, 30)
]

con_tro.executemany(
    "insert into product (id, name, price, amount) values (?, ?, ?, ?)",
    san_pham
)

ket_noi.commit()
ket_noi.close()

print("Đã thêm sản phẩm")

IntegrityError: UNIQUE constraint failed: product.id

### 5.10.3 Hiển thị

In [ ]:
import sqlite3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute("select * from product")
du_lieu = con_tro.fetchall()

for dong in du_lieu:
    print(dong)

ket_noi.close()

(1, 'Bút bi', 5000.0, 100)
(2, 'Vở', 12000.0, 50)
(3, 'Thước', 8000.0, 30)

### 5.10.4 Tìm kiếm sản phẩm

In [ ]:
import sqlite3

ten_can_tim = "Vở"

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute(
    "select * from product where name like ?",
    ("%" + ten_can_tim + "%",)
)

ket_qua = con_tro.fetchall()

for dong in ket_qua:
    print(dong)

ket_noi.close()

(2, 'Vở', 12000.0, 50)

### 5.10.5 Cập nhật

In [ ]:
import sqlite3

id_san_pham = 2
gia_moi = 15000
so_luong_moi = 70

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute(
    "update product set price = ?, amount = ? where id = ?",
    (gia_moi, so_luong_moi, id_san_pham)
)

ket_noi.commit()
ket_noi.close()

print("Đã cập nhật sản phẩm")

Đã cập nhật sản phẩm

### 5.10.6 - Xóa sản phẩm

In [ ]:
import sqlite3

id_can_xoa = 3

ket_noi = sqlite3.connect("product.db")
con_tro = ket_noi.cursor()

con_tro.execute("delete from product where id = ?", (id_can_xoa,))
ket_noi.commit()

ket_noi.close()
print("Đã xóa sản phẩm")

Đã xóa sản phẩm

# 5.11 - Quản lý nhân viên

In [ ]:
import sqlite3

ket_noi = sqlite3.connect("ql_nhan_vien.db")
con_tro = ket_noi.cursor()

con_tro.execute("""
create table if not exists PHONG (
    id integer primary key,
    name text not null
);
""")

ket_noi.commit()
ket_noi.close()

print("Đã tạo bảng PHONG")

Đã tạo bảng PHONG

## Thêm phòng

In [ ]:
import sqlite3

ket_noi = sqlite3.connect("ql_nhan_vien.db")
con_tro = ket_noi.cursor()

phong_ban = [
    (1, "Hành chính"),
    (2, "Kế toán"),
    (3, "Kỹ thuật")
]

con_tro.executemany(
    "insert into PHONG (id, name) values (?, ?)",
    phong_ban
)

ket_noi.commit()
ket_noi.close()

print("Đã thêm phòng ban")

Đã thêm phòng ban

## tạo bảng vn

In [ ]:
import sqlite3

ket_noi = sqlite3.connect("ql_nhan_vien.db")
con_tro = ket_noi.cursor()

con_tro.execute("""
create table if not exists NHAN_VIEN (
    id integer primary key,
    ho_ten text not null,
    id_phong integer,
    foreign key (id_phong) references PHONG(id)
);
""")

ket_noi.commit()
ket_noi.close()

print("Đã tạo bảng NHAN_VIEN")

Đã tạo bảng NHAN_VIEN